* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4bdde;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8)
}

@media (max-width: 405px) {

    .container {
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }

    .container2 {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 20px;
    }
}